$top-color:             #209920;
$top-color-light:       #3eb53e;
$top-color-white:       #cef5ce;
//$top-color:             #52A3FF;
//$top-color-hover:       #2E7FDB;
//$top-color-light:       #69AFFF;
$opensans:              'Open Sans', sans-serif;
$lora:                  'Lora', serif;

$white:                 #FFF;
$black:                 #000;
$light-grey:            #F0F0F0;
$med-grey:              #CFCFCF;
$dark-grey:             #111;

$weight-thin:           100;
$weight-light:          300;
$weight-regular:        400;
$weight-bold:           700;

$space:                 20px;

$semi-white:            rgba(255,255,255,0.2);

$console:               'Inconsolata', sans-serif;

$post-fontsize:         1.2em;
$post-headersize:       2em;
$post-color:            #3d3d3d;
$post-color-dark:       #111;
$post-datesize:         1em;
$post-color-link:       #008C00;
$post-innerheadersize:  1.4em;
$post-subheadersize:    1.1em;

$header-height:         64px;
$header-image:          30px;

$sidebar-width:         70px;

$disqus-margin:         $space * 2;

$footer-height:         100px;
